In [47]:
from surprise import SVD
from surprise import Dataset, Reader
from surprise.model_selection import cross_validate
import pandas as pd
import surprise

In [40]:
df=pd.read_excel('ratings_movies.xlsx', header=None)
df.head(20)

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    5   5   5   1   1   1   1   1   1   5   5   5   2   2   2
1    5   5   5   1   1   1   1   1   1   5   5   5   2   2   2
2    5   5   5   1   1   1   1   1   1   5   5   5   2   2   2
3    3   3   3   5   5   5   1   1   1   5   5   5   1   1   1
4    3   3   3   5   5   5   1   1   1   5   5   5   1   1   1
5    3   3   3   5   5   5   1   1   1   5   5   5   1   1   1
6    1   1   1   3   3   3   5   5   5   5   5   5   1   1   1
7    1   1   1   3   3   3   5   5   5   5   5   5   1   1   1
8    1   1   1   3   3   3   5   5   5   5   5   5   1   1   1
9    4   4   4   4   4   4   2   2   2   4   4   4   1   1   1
10   4   4   4   4   4   4   2   2   2   4   4   4   1   1   1
11   4   4   4   4   4   4   2   2   2   4   4   4   1   1   1
12   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
13   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
14   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1

In [41]:
min_val=df.min()
min_val=min_val.min()
max_val=df.max()
max_val=max_val.max()

In [51]:
iid_list=[]
list_of_index=[]
list_of_data=[]
for index, row in df.iterrows():
    for value, column_name in zip(row.tolist(),df.columns):
        list_of_index.append(index)
        list_of_data.append(value)
        iid_list.append(column_name)
zipped=list(zip(list_of_index, iid_list, list_of_data))
data=pd.DataFrame(zipped, columns=['user_id', 'iid', 'score'])
data.head(20)

    user_id  iid  score
0         0    0      5
1         0    1      5
2         0    2      5
3         0    3      1
4         0    4      1
5         0    5      1
6         0    6      1
7         0    7      1
8         0    8      1
9         0    9      5
10        0   10      5
11        0   11      5
12        0   12      2
13        0   13      2
14        0   14      2
15        1    0      5
16        1    1      5
17        1    2      5
18        1    3      1
19        1    4      1

In [66]:
#add user
user=pd.DataFrame({'user_id':[16,16,16], 'iid':[2, 5, 7], 'score':[1, 5, 5]})

data=pd.concat([data, user], axis=0, ignore_index=True)

In [67]:
reader=Reader(rating_scale=(min_val,max_val))
data1=Dataset.load_from_df(data,reader)
data1.build_full_trainset()

In [68]:
alg=surprise.SVDpp()
output = alg.fit(data1.build_full_trainset())

In [69]:
pred= alg.predict(uid= '16', iid= '10')
pred, pred.est

(Prediction(uid='16', iid='10', r_ui=None, est=2.574561403508772, details={'was_impossible': False}),
 2.574561403508772)